<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <title>Projekt1 TI Jakub Kraśniak</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
        <h1 style = "font-size: 50px;">Social network</h1>
    </header>

    <nav>
      <form action="/addFriend" method="post">
        <label for="friendLogin">Your new friend's Login:</label>
        <input type="friendLogin" id="friendLogin" name="friendLogin" /><br>
        <label for="submit"></label>
        <input type="submit" value="Submit"><br>
      </form>
    </nav>
    <article>
      
    </article>
  </body>
</html>