<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <title>Projekt1 TI Jakub Kraśniak</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
        <h1 style = "font-size: 50px;">Social network</h1>
    </header>

    <nav>
      <form action="/login" method="post">
        <label for="login">Login:</label>
        <input type="login" id="login" name="login" required/><br>
        <label for="password">Pasword:</label>
        <input type="pasword" id="password" name="password" required/><br>
        <label for="submit"></label>
        <input type="submit" value="Submit"><br>
      </form>
    </nav>
    <article>
      
    </article>
  </body>
</html>